.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.5rem;
  min-height: 100vh;
  text-align: center;
  background-image: url("../resources/imagenes/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
}
.centro {
  justify-content: space-around;
  background-color: #00000066;
  align-items: center;
  padding: 0.85rem;
  color: yellow;
  width: 75vw;
  overflow-y: scroll;
  text-align: left;
}

.centro h2 {
  color: orange;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.5rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  color: yellow;
  padding: 1rem;
}

.title {
  color: orange;
  background-color: #00000066;
  border-radius: 3rem;
}

.Carousel {
  height: 60vh;
  width: 80vw;
}
